spring:
  http:
    multipart:
      max-file-size: 1MB
      max-request-size: 1MB
sftp:
  host: 121.0.0.1
  port: 22
  user: sftp
  password:
  directory:
  privateKeyPassPhrase:
  privateKey:
ssh:
  host: 192.168.58.128
  port: 22
  user: root
  password: 123456
server:
  port: 9001